body {
    display: flex;
}
.sidebar {
   width:111px ;
   
    border-right: 1px solid #cd0000;
    padding: 10px;
}
.content {
    padding: 10px;
    flex-grow: 1;
    display: flex;
}
.laptop {
    margin-bottom: 20px;
}
.s{
    width:111px ;
   border-right: 1px solid #cd0000;
   padding: 10px; 
   margin-left: 100px; 
}

.shop {
width:200px;
height:250px;
border:1px solid red;
padding:5px 5px 5px 0px;
margin-left:63px ;

}
.shop img {
width:80px;
height:100px;
float:left;
margin-right:5px;
}
.shop h4 {
margin-top:0px;
}

.sss{
margin-left: 250px;

}
.sd{
height:28px ;
margin-left:70px ;
margin-top:10px ;
background-color: blue;
border-radius:5px ;
}

.fd{

margin-left:10px ;
}

.zz{
width:120px;
height:20px;
border:1px solid red;
padding:5px 5px 5px 0px;
margin-left:-49px ;
}